<div class="page-heading">
  <h1>Profile</h1>
</div>
<div id="profile-panel-size" class="panel panel-default">
  <div class="panel-body">
      <% if current_user.avatar? %>
      <%= image_tag(current_user.avatar.url, id: "user-avatar",class: "img-thumbnail img-responsive") %>
      <% else %>
      <%= image_tag('avatar-placeholder.png', id: "user-avatar",class: "img-thumbnail img-responsive") %>
      <% end %>
      <div id="user-name"><%= current_user.full_name %></div>
      <div id="user-primary-container">
        <span id="user-email"><%= current_user.email %></span>
      </div>
      <div id="user-secondary-container">
        <h2 class="user-label">Bio</h2>
        <% if current_user.bio? %>
        <p class="user-info">
         <%= current_user.bio %>
        </p>
         <% else %>
         <span id="no-bio">Edit your profile to change this section!</span>
         <% end %>
      </div>
      <div id="user-tertiary-container">
        <div class="pos-btn">
          <%= link_to "Edit your Profile", edit_user_registration_path, class: "btn btn-default profile-btn-edit" %>
          <%= link_to "Delete Account" , user_registration_path, class: "btn btn-default profile-btn-destroy",method: :delete, confirm: 'Are You Sure?' %>
        </div>
      </div>
  </div>
</div>
